# media
*.jpg
*.jpeg
*.png
*.JPG
*.PNG
*.mov
*.MOV
*.mp4
*.MP4
*.zip
*.svg
*.gif
*.psd
*.ai
*.pdf
*.tif
*.tiff
*.eps
*.sketch
*.wav
*.mp3
*.m4a
*.ogg
*.flac
*.aif
*.aiff

*.json

# local env
env/
.env

# ml proejct stuff
Checkpoints/
*.mlproj/
*.npy
mnist-t*.tfrecord*
datasets/
assets/
**/logs/*

# various media and gcode files
*.svg
*.gcode

# compiled binaries
*.o
*.so
*.out
*.exe

# python bytecode
*.pyc
*.pyo
*.ipynb

# hidden and swap files
.DS_Store
._*
.*.swp
